<section id="empty-cart">

    <div class="container w-full md:w-1/2 mx-auto flex flex-col items-center p-12">

        <h1 class="text-3xl font-bold mb-3">Cart Empty &#128577;</h1>
        <p class="text-center text-gray-400 mb-4">Please add some items from the menu.</p>

        <img src="images/empty-cart.png" alt="" height="300px" width="450px" class="inline-block mb-4">

        <button class="rounded-full text-white border px-4 py-2"><a href="/#menu">Explore Menu</a></button>

    </div>
    

</section>