<!-- <section id="header">

    <nav class="w-full flex items-center justify-between py-3 px-2 md:px-4">

        <div clss="nav-left">
            <img src="images/logo.png" alt="" height="100px" width="100px">
        </div>

        <div class="nav-right">
            <ul class="flex items-center">
                <li class="ml-6"><a href="/#menu">Menu</a></li>

                <% if(locals.user) {  

                    if(user.Role=="customer"){ %>

                        <li class="ml-3 md:ml-6"><a href="/orders/customer-all-orders">My Orders</a></li>
                        <li class="ml-3 md:ml-6"><a href="/auth/logout">Logout</a></li>
                        <li class="ml-3 md:ml-6"><a href="/cart" class='cart-link inline-block px-3 md:px-4 py-2 rounded-full'>
                            <% if(user.Cart.TotalQuantity){ %>
                                <span class="rounded-full px-2 py-0 cart-total-qty"><%= user.Cart.TotalQuantity %></span>
                            <% }else{ %>
                                <span class="rounded-full px-2 py-0 cart-total-qty"></span>
                            <% } %>
                            <img src="images/cart.png" alt="" class="inline">
                        </a></li>

                    <% }else if(user.Role=="admin"){ %>

                        <li class="ml-3 md:ml-6"><a href="/admin/all-orders">All Orders</a></li>
                        <li class="ml-3 md:ml-6"><a href="/auth/logout">Logout</a></li>

                <% } %>
                
                    
                <% }else{ %>
                    <li class="ml-3 md:ml-6"><a href="/auth/register-page">Register</a></li>
                    <li class="ml-3 md:ml-6"><a href="/auth/login-page">Login</a></li>
                <% } %>
    
            </ul>
        </div>

    </nav>
    
</section> -->





<section id="header" class="py-2 px-4">

    <div class="navigation">
        <div class="toggle-wrapper">
            <span class="show text-3xl">&#9776;</span>
            <span class="hide font-bold text-xl">&#9866;</span>
        </div>
        
        <ul class="menu">

            <li class="px-2"><a href="/">Home</a></li>
            <li class="px-2"><a href="/#menu" class="menu-link">Menu</a></li>
    
            <% if(locals.user) {  
    
                if(user.Role=="customer"){ %>
    
                    <li class="px-2"><a href="/orders/customer-all-orders">My Orders</a></li>

                    <li class="px-2"><a href="/cart" class='cart-link inline-block py-2 rounded-full'>
                        <% if(user.Cart.TotalQuantity){ %>
                            <span class="rounded-full px-2 py-0.5 cart-total-qty"><%= user.Cart.TotalQuantity %></span>
                        <% }else{ %>
                            <span class="rounded-full cart-total-qty"></span>
                        <% } %>
                        <img src="images/cart.png" alt="" class="inline">
                    </a></li>

                    <li class="px-2"><a href="/auth/logout">Logout</a></li>
    
                <% }else if(user.Role=="admin"){ %>
    
                    <li class="px-2"><a href="/admin/all-orders">All Orders</a></li>
                    <li class="px-2"><a href="/auth/logout">Logout</a></li>
    
            <% } %>
            
                
            <% }else{ %>
                <li class="px-2"><a href="/auth/register-page">Register</a></li>
                <li class="px-2"><a href="/auth/login-page">Login</a></li>
            <% } %>
    
        </ul>
        </div>
        
        <div class="flex justify-end items-center">
            <img src="images/logo.png" alt="">
        </div>

    </div>
    
</section>



<% if(locals.user && user.Role=='customer' && user.Cart.TotalQuantity>0){ %>
    <button class="rounded-full px-3 py-1 fixed bottom-5 right-5 z-10">
        <a href="/cart" class='cart-link inline-block py-2 rounded-full'>
            <% if(user.Cart.TotalQuantity){ %>
                <span class="rounded-full px-2 py-0.5 cart-total-qty"><%= user.Cart.TotalQuantity %></span>
            <% }else{ %>
                <span class="rounded-full cart-total-qty"></span>
            <% } %>
            <img src="images/cart.png" alt="" class="inline">
        </a>

    </button>
<% } %>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(function(){

$('.navigation .toggle-wrapper .show').on('click',function(){
  $('.navigation').addClass('open');
});
$('.navigation .toggle-wrapper .hide').on('click',function(){
  $('.navigation').removeClass('open');
});
$('.navigation .has-menu a').on('click',function(e){
  e.stopPropagation();
});
$('.navigation .has-menu').on('click',function(){
  $(this).toggleClass('open');
});

});
</script>
 