@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

button {
  background-color: #FE5F1E;
  color: #fff;
  transition: all 0.4s ease-in-out 0.04s;
}
button:hover {
  background-color: #B23301;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input:not([type=password]):focus, button:focus {
  outline-width: 0;
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}

a:focus {
  outline-width: 0;
}

.fa-eye-slash, .fa-eye {
  color: grey;
  cursor: pointer;
  display: none;
}

.fa-eye-slash {
  display: initial;
}

#header {
  background: #FE5F1E;
}

.navigation {
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 320px;
  background-color: #232323;
  color: #232323;
  position: absolute;
  z-index: 9999;
  top: 0px;
  right: calc(100% - 320px);
  transition: right 0.5s;
}

.navigation .menu {
  list-style-type: none;
}

.navigation .menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation .menu a {
  display: block;
  padding: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.navigation .menu a::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  transition: left 0.25s, right 0.25s;
}

.navigation .menu a:hover::after {
  right: 0;
}

.navigation .has-menu {
  position: relative;
}

.navigation .has-menu::before {
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.navigation .has-menu::after {
  content: "➤";
  padding: 15px 0;
  height: 50px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: rotate(90deg);
  transition: transform 0.25s;
}

.navigation .has-menu > .menu {
  overflow: hidden;
  max-height: auto;
}

.navigation .menu .menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation .has-menu > .menu > li > a {
  padding-left: 45px;
  transition: padding 1s;
}

.navigation .has-menu > .menu > li:last-child {
  border-bottom: none;
}

/* Closed States */
.navigation:not(.open) {
  right: 100%;
}

.navigation:not(.open) .toggle-wrapper .show {
  right: 0px;
}

.navigation:not(.open) .toggle-wrapper .hide {
  right: 50px;
}

.navigation .has-menu:not(.open)::after {
  transform: rotate(-90deg);
}

.navigation .has-menu:not(.open) > .menu {
  border-top: none;
  max-height: 0;
}

.navigation .has-menu:not(.open) > .menu > li > a {
  padding-left: 15px;
}

.navigation .toggle-wrapper {
  border-left: none;
  height: 52px;
  width: 51px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: calc(0px - 52px);
}

.navigation .toggle-wrapper span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0;
  transition: right 0.25s;
}

.navigation .toggle-wrapper .show {
  right: -50px;
}

.cart-link span {
  display: inline-block;
  background: #F8F8F8;
  color: #232323;
}

#hero {
  background-color: #F8F8F8;
}

#menu h1 {
  word-spacing: 1px;
  text-shadow: 4px 7px 8px #ccc;
}
#menu .card .card-img-top {
  width: 50% !important;
}
#menu .card .card-img-container {
  background-color: #F8F8F8;
  text-align: center;
}
#menu .card .card-text {
  background: #F8F8F8;
}
#menu .card a {
  display: inline-block;
  border: 3px solid #FE5F1E;
  color: #FE5F1E;
}
#menu .card a:hover {
  color: #fff;
  background-color: #FE5F1E;
}
#menu .card:hover {
  transform: scale(1.07);
}

#empty-cart {
  background: #F8F8F8;
}
#empty-cart div {
  height: 90vh;
}
#empty-cart a {
  color: #fff;
}
#empty-cart a:hover {
  color: #fff;
}

#order-summary {
  background-color: #F8F8F8;
  min-height: 90vh;
  height: auto;
}
#order-summary .cart-total-amt {
  color: #FE5F1E;
  cursor: pointer;
}
#order-summary .cart-total-amt:hover {
  color: #B23301;
  transition: all 0.4s ease-in-out 0.04s;
}

#register, #login {
  height: 95vh;
  background: #F8F8F8;
}
#register a, #login a {
  color: #FE5F1E;
}
#register a:hover, #login a:hover {
  color: #B23301;
}

section[id$=orders] {
  height: 90vh;
  overflow-x: scroll;
}

#customer-orders {
  overflow-x: scroll;
  background-color: #F8F8F8;
}
#customer-orders tr {
  color: #FE5F1E;
}
#customer-orders tr td:first-child a:hover {
  color: #B23301;
}
#customer-orders tr:not(.line-through) {
  color: green;
}
#customer-orders tr:not(.line-through) td:first-child a:hover {
  color: darkgreen;
}
#customer-orders tr:first-child {
  color: #232323;
}

#payment {
  height: 90vh;
  background: #F8F8F8;
}
#payment a:hover {
  color: #fff;
}

#track {
  background-color: #F8F8F8;
  min-height: 85vh;
}
#track .order-id {
  color: green;
}
#track .circle {
  height: 13px;
  width: 13px;
}
#track .line {
  height: 8vh;
  border-left: 2px solid #232323;
}
